<%- include("./template/_header") %>

<div class="add-contact">
  <a href="/contacts/viewAddContact"><i class="fa-solid fa-user-plus"></i>Add Contact</a>
</div>

<table boarder="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Phone</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
    <% contacts.forEach(contact => { %>
    <tr>
      <td><%= contact.name %></td>
      <td><%= contact.email %></td>
      <td><%= contact.phone %></td>
      <td><%= new Date(contact.createdAt).toLocaleDateString() %></td>
      <td><%= new Date(contact.updatedAt).toLocaleDateString() %></td>
      <td>
        <a href="/"><i class="fas fa-pencil-alt" title="Edit"></i></a>
        <a href="/"><i class="fas fa-times" title="Delete"></i></a>
      </td>
    </tr>
    <%});%>
  </tbody>
</table>

<%- include("./template/_footer") %>
